workflows/wf1-lead-intake.json
{
  "id": "fCKmY6J4GYQHhyEl",
  "name": "PathPilot — WF1 Lead Intake",
  "active": true,
  "description": "Phase 1 + dedup, dual-trigger. Intake via EITHER the hosted form OR a JSON webhook (POST /webhook/console-intake, used by the demo console). 'Adapt Webhook Input' reshapes the webhook body into the form's field shape so both paths share: Normalise → consent gate → upsert lead (dedup on email) + audit → Call WF2 (extract/classify). The form responds via the trigger's built-in 'form submitted' text; completion nodes were removed so the webhook path never hits a form-only node. The webhook acks immediately and the console polls Supabase by email.",
  "settings": { "executionOrder": "v1", "availableInMCP": true, "binaryMode": "separate", "timeSavedMode": "fixed", "errorWorkflow": "Sxtfdv2FS8avBTvk", "callerPolicy": "workflowsFromSameOwner" },
  "meta": { "aiBuilderAssisted": true, "builderVariant": "mcp" },
  "tags": [],
  "nodes": [
    {
      "id": "6baf7265-b45a-41c2-8e19-93ea8c803189",
      "name": "Lead Intake Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [240, 400],
      "webhookId": "26959862-76f6-48f8-9138-91b8ecee6417",
      "parameters": {
        "formTitle": "PathPilot — Study Abroad & Travel Enquiry",
        "formDescription": "Tell us your goal and a counsellor will follow up. We collect only what we need to advise you — we never ask for passport scans or bank statements. Guidance is informational only and not a guarantee of admission, a visa, or a scholarship. You can ask us to correct or delete your data at any time.",
        "responseMode": "lastNode",
        "formFields": {
          "values": [
            { "fieldName": "fullName", "fieldLabel": "Full Name", "fieldType": "text", "requiredField": true },
            { "fieldName": "email", "fieldLabel": "Email", "fieldType": "email", "requiredField": true },
            { "fieldName": "phone", "fieldLabel": "Phone or WhatsApp Number", "fieldType": "text", "requiredField": false },
            { "fieldName": "primaryInterest", "fieldLabel": "How can we help?", "fieldType": "dropdown", "requiredField": true, "fieldOptions": { "values": [ { "option": "Study Abroad" }, { "option": "Visa Support" }, { "option": "Flight Booking" }, { "option": "Other" } ] } },
            { "fieldName": "message", "fieldLabel": "Tell us about your goal", "fieldType": "textarea", "requiredField": true },
            { "fieldName": "consent", "fieldLabel": "Consent to processing", "fieldType": "dropdown", "requiredField": true, "fieldOptions": { "values": [ { "option": "Yes, I consent" }, { "option": "No, I do not consent" } ] } }
          ]
        },
        "options": {
          "buttonLabel": "Submit enquiry",
          "path": "pathpilot-intake",
          "appendAttribution": false,
          "respondWithOptions": { "values": { "respondWith": "text", "formSubmittedText": "Thank you — your submission has been received. If you consented to processing, a counsellor will follow up within 24 hours. Guidance is informational only and not a guarantee of admission, a visa, or a scholarship." } }
        }
      }
    },
    {
      "id": "5253d5b8-305f-4c25-9fcd-5c9a7bcb7f5f",
      "name": "Console Intake Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 640],
      "webhookId": "248fd047-0115-48fe-b42d-f8c1e72d1de2",
      "parameters": { "httpMethod": "POST", "path": "console-intake", "responseMode": "onReceived", "options": { "responseData": "{ \"status\": \"received\" }" } }
    },
    {
      "id": "4e928c00-70db-4837-8879-731d7745585a",
      "name": "Adapt Webhook Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 640],
      "parameters": {
        "mode": "manual",
        "includeOtherFields": false,
        "assignments": {
          "assignments": [
            { "id": "w1", "name": "fullName", "value": "={{ $json.body.name ?? $json.body.fullName ?? \"\" }}", "type": "string" },
            { "id": "w2", "name": "email", "value": "={{ $json.body.email ?? \"\" }}", "type": "string" },
            { "id": "w3", "name": "phone", "value": "={{ $json.body.phone ?? \"\" }}", "type": "string" },
            { "id": "w4", "name": "primaryInterest", "value": "={{ $json.body.interest ?? \"Other\" }}", "type": "string" },
            { "id": "w5", "name": "message", "value": "={{ $json.body.message ?? \"\" }}", "type": "string" },
            { "id": "w6", "name": "consent", "value": "={{ ($json.body.consent === true || String($json.body.consent ?? \"\").toLowerCase().includes(\"yes\")) ? \"Yes, I consent\" : \"No, I do not consent\" }}", "type": "string" }
          ]
        }
      }
    },
    {
      "id": "ea47ef52-8051-4f41-ba8c-6d137084efe4",
      "name": "Normalise Enquiry",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 400],
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "email_normalised", "value": "={{ ($json.email ?? $json.Email ?? \"\").toLowerCase().trim() }}", "type": "string" },
            { "id": "a2", "name": "consent_given", "value": "={{ ($json.consent ?? $json[\"Consent to processing\"] ?? \"\") === \"Yes, I consent\" }}", "type": "boolean" },
            { "id": "a3", "name": "consent_at", "value": "={{ $now.toISO() }}", "type": "string" },
            { "id": "a4", "name": "channel", "value": "web_form", "type": "string" },
            { "id": "a5", "name": "raw_message_composed", "value": "=[Interest: {{ $json.primaryInterest ?? $json[\"How can we help?\"] ?? \"Unknown\" }}] {{ $json.message ?? $json[\"Tell us about your goal\"] ?? \"\" }}", "type": "string" }
          ]
        }
      }
    },
    {
      "id": "cf4d7df5-c5a8-4b83-ac41-10dddad7bff6",
      "name": "Consent Given?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [448, 96],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [ { "id": "c1", "leftValue": "={{ $json.consent_given }}", "operator": { "type": "boolean", "operation": "equals" }, "rightValue": true } ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "03f61d76-2a20-48fb-a4c0-69b3bbd4efd3",
      "name": "Store Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [900, 260],
      "parameters": {
        "resource": "database",
        "operation": "upsert",
        "schema": { "__rl": true, "mode": "list", "value": "public" },
        "table": { "__rl": true, "mode": "list", "value": "leads" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "channel": "web_form",
            "consent_given": "={{ $json.consent_given }}",
            "consent_at": "={{ $json.consent_at }}",
            "consent_text_version": "v1-2026-06-02",
            "name": "={{ $json.fullName ?? $json[\"Full Name\"] ?? \"\" }}",
            "email": "={{ $json.email_normalised }}",
            "phone": "={{ $json.phone ?? $json[\"Phone or WhatsApp Number\"] ?? \"\" }}",
            "raw_message": "={{ $json.raw_message_composed }}",
            "status": "new"
          },
          "matchingColumns": ["email"],
          "schema": []
        },
        "options": {}
      }
    },
    {
      "id": "24682291-4513-4a96-beda-ffd62a5354c7",
      "name": "Audit: Lead Created",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1120, 260],
      "parameters": {
        "resource": "database",
        "operation": "insert",
        "schema": { "__rl": true, "mode": "list", "value": "public" },
        "table": { "__rl": true, "mode": "list", "value": "audit_logs" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": { "actor_type": "system", "actor_id": "wf1-lead-intake", "action": "lead.created", "lead_id": "={{ $json.id }}", "workflow_id": "={{ $workflow.id }}" },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      }
    },
    {
      "id": "39e8e24e-6fbc-4227-8d71-938a1991d9cf",
      "name": "Call WF2 — Extract & Classify",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [1300, 420],
      "parameters": {
        "source": "database",
        "workflowId": { "__rl": true, "mode": "id", "value": "38Cqymdj0fdOf38h", "cachedResultName": "PathPilot — WF2 Extract & Classify" },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": { "lead_id": "={{ $('Store Lead').item.json.id }}" },
          "matchingColumns": [],
          "schema": [{ "id": "lead_id", "displayName": "lead_id", "type": "string", "required": false, "display": true, "canBeUsedToMatch": true }]
        },
        "mode": "once",
        "options": { "waitForSubWorkflow": true }
      }
    },
    {
      "id": "4b9b37f4-7c01-4324-a3dc-a438dea5be01",
      "name": "Audit: Consent Denied",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [900, 560],
      "parameters": {
        "resource": "database",
        "operation": "insert",
        "schema": { "__rl": true, "mode": "list", "value": "public" },
        "table": { "__rl": true, "mode": "list", "value": "audit_logs" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": { "actor_type": "system", "actor_id": "wf1-lead-intake", "action": "lead.consent_denied" },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Lead Intake Form": { "main": [[{ "node": "Normalise Enquiry", "type": "main", "index": 0 }]] },
    "Console Intake Webhook": { "main": [[{ "node": "Adapt Webhook Input", "type": "main", "index": 0 }]] },
    "Adapt Webhook Input": { "main": [[{ "node": "Normalise Enquiry", "type": "main", "index": 0 }]] },
    "Normalise Enquiry": { "main": [[{ "node": "Consent Given?", "type": "main", "index": 0 }]] },
    "Consent Given?": { "main": [[{ "node": "Store Lead", "type": "main", "index": 0 }], [{ "node": "Audit: Consent Denied", "type": "main", "index": 0 }]] },
    "Store Lead": { "main": [[{ "node": "Audit: Lead Created", "type": "main", "index": 0 }]] },
    "Audit: Lead Created": { "main": [[{ "node": "Call WF2 — Extract & Classify", "type": "main", "index": 0 }]] }
  }
}
