workflows/wf2-extract-classify.json
{
  "id": "n6CraY5rGrP2mxzD",
  "name": "PathPilot — WF2 Extract & Classify",
  "active": true,
  "description": "Phase 2 (updated). Given a lead_id: fetch lead, Claude Sonnet extracts fields + classifies + scores + spam-flag as JSON. Spam → close+audit. Otherwise update lead fields + Qualified? (lead_score>=40) → Call WF3 (RAG recommendation) or skip → Audit: Extracted.",
  "settings": { "executionOrder": "v1", "availableInMCP": true },
  "nodes": [
    { "id": "57c8b0f1-03b6-4ef0-b83b-77abf62cd749", "name": "When Called With lead_id", "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 1.1, "position": [240, 400], "parameters": { "inputSource": "workflowInputs", "workflowInputs": { "values": [{ "name": "lead_id", "type": "string" }] } } },
    { "id": "6ab3e163-614a-4e77-ab5b-e97051119831", "name": "Get Lead", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [460, 400], "parameters": { "resource": "database", "operation": "executeQuery", "query": "SELECT * FROM leads WHERE id = $1 LIMIT 1", "options": { "queryReplacement": "={{ $json.lead_id }}" } } },
    { "id": "e7019c14-552a-4d82-83c5-260b8ecf3220", "name": "Extract & Classify", "type": "@n8n/n8n-nodes-langchain.chainLlm", "typeVersion": 1.9, "position": [700, 400], "parameters": { "promptType": "define", "text": "=Extract and classify the enquiry below into the required JSON schema. Use only what is stated.\n\nENQUIRY (raw):\n{{ $json.raw_message }}\n\nKNOWN FIELDS (may be blank):\nname: {{ $json.name }}\nemail: {{ $json.email }}\nphone: {{ $json.phone }}\n\nReturn the structured JSON only.", "hasOutputParser": true, "messages": { "messageValues": [{ "type": "SystemMessagePromptTemplate", "message": "You are PathPilot's intake assistant for a Nigerian study-abroad and travel agency.\nYour job is REASONING and STRUCTURING. You never make final decisions or customer-facing promises.\n\nRules:\n- Use ONLY the information in the enquiry and provided fields. Never invent courses, fees, deadlines, requirements, or scholarship rules.\n- Never guarantee admission, a visa, or a scholarship. You are not a licensed immigration adviser.\n- When information is missing, list it in missing_fields and use \"unknown\" as the value. Do not guess.\n- Be conservative with confidence for short or vague messages.\n- Treat advertising, scams, links-only, or irrelevant content as spam: set is_spam true and service_intent spam_irrelevant.\n\nChoose ONE best value for service_intent; list any others in additional_intents:\n- study_abroad: wants to study at a foreign institution\n- admission_counselling: help choosing schools, programmes, or applications\n- scholarship_funding: asking about scholarships or funding\n- visa_assistance: study or work visa support\n- tourist_visit_visa: visit or tourist visa\n- flight_booking: wants flights, fares, or tickets\n- general_travel: broad travel planning\n- existing_client_followup: already a client, following up or proceeding\n- complaint_escalation: complaint, dissatisfaction, or urgent escalation\n- spam_irrelevant: advertising, scam, links-only, or irrelevant\n\nField rules:\n- programme_level: one of undergraduate, postgraduate, foundation, other, unknown\n- preferred_countries: array of countries mentioned, else empty array\n- budget_range: a broad range or \"unknown\". Never invent figures.\n- target_intake: intake or travel period mentioned, else \"unknown\"\n- qualification, english_test_status, passport_status, sponsor_status: as stated, else \"unknown\" (status only, never document contents)\n- urgency: one of low, medium, high (high for explicit deadlines, urgency words, or complaints)\n- lead_score: integer 0-100 (higher for a clear goal, specific course and country, realistic timeline, known budget or sponsor, and contact details; spam is 0)\n- missing_fields: the important fields absent for this intent\n- risk_flags: any of minor, complaint, spam, suspicious_link, sensitive_data, dissatisfied_customer\n- is_spam: true for advertising, scams, links-only, or irrelevant content\n- confidence: number 0-1, overall extraction confidence" }] } } },
    { "id": "2ec3d0a9-ff17-45eb-a7a7-fc66890ce631", "name": "Claude Sonnet 4.6", "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic", "typeVersion": 1.5, "position": [620, 640], "parameters": { "model": { "__rl": true, "mode": "list", "value": "claude-sonnet-4-6", "cachedResultName": "Claude Sonnet 4.6" }, "options": { "temperature": 0 } } },
    { "id": "81244a29-5af2-43a0-ac05-7707f90cb50a", "name": "Lead JSON Schema", "type": "@n8n/n8n-nodes-langchain.outputParserStructured", "typeVersion": 1.3, "position": [820, 640], "parameters": { "schemaType": "fromJson", "jsonSchemaExample": "{\n  \"service_intent\": \"study_abroad\",\n  \"additional_intents\": [\"scholarship_funding\"],\n  \"programme_level\": \"undergraduate\",\n  \"desired_course\": \"Nursing\",\n  \"preferred_countries\": [\"UK\", \"Canada\"],\n  \"budget_range\": \"unknown\",\n  \"target_intake\": \"2027\",\n  \"qualification\": \"WAEC\",\n  \"english_test_status\": \"none\",\n  \"passport_status\": \"unknown\",\n  \"sponsor_status\": \"unknown\",\n  \"urgency\": \"medium\",\n  \"lead_score\": 70,\n  \"missing_fields\": [\"budget_range\", \"sponsor_status\"],\n  \"risk_flags\": [],\n  \"is_spam\": false,\n  \"confidence\": 0.9\n}" } },
    { "id": "b8d33f5b-d921-4bcf-8cfd-ec6be97516c3", "name": "Is Spam?", "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [800, 112], "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [{ "id": "s1", "leftValue": "={{ $json.output.is_spam }}", "operator": { "type": "boolean", "operation": "equals" }, "rightValue": true }], "combinator": "and" } } },
    { "id": "f4d407bb-33bc-471f-9101-637dff6e196a", "name": "Mark Spam Closed", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1160, 260], "parameters": { "resource": "database", "operation": "update", "schema": { "__rl": true, "mode": "list", "value": "public" }, "table": { "__rl": true, "mode": "list", "value": "leads" }, "columns": { "mappingMode": "defineBelow", "value": { "id": "={{ $('Get Lead').item.json.id }}", "status": "closed" }, "matchingColumns": ["id"], "schema": [] }, "options": {} } },
    { "id": "6aaa5c0b-fe5a-407b-9ac1-d9efcfaeaf6f", "name": "Audit: Spam", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1380, 260], "parameters": { "resource": "database", "operation": "insert", "schema": { "__rl": true, "mode": "list", "value": "public" }, "table": { "__rl": true, "mode": "list", "value": "audit_logs" }, "columns": { "mappingMode": "defineBelow", "value": { "actor_type": "ai", "actor_id": "wf2-extract", "action": "lead.spam", "lead_id": "={{ $('Get Lead').item.json.id }}", "workflow_id": "={{ $workflow.id }}" }, "matchingColumns": [], "schema": [] }, "options": {} } },
    { "id": "93b51b35-7e3d-4297-9d65-c91c9629db98", "name": "Prepare Lead Fields", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [1160, 540], "parameters": { "mode": "manual", "includeOtherFields": false, "assignments": { "assignments": [ { "id": "f0", "name": "id", "value": "={{ $('Get Lead').item.json.id }}", "type": "string" }, { "id": "f1", "name": "service_intent", "value": "={{ $json.output.service_intent }}", "type": "string" }, { "id": "f2", "name": "programme_level", "value": "={{ $json.output.programme_level }}", "type": "string" }, { "id": "f3", "name": "desired_course", "value": "={{ $json.output.desired_course }}", "type": "string" }, { "id": "f4", "name": "preferred_countries", "value": "={{ JSON.stringify($json.output.preferred_countries) }}", "type": "string" }, { "id": "f5", "name": "budget_range", "value": "={{ $json.output.budget_range }}", "type": "string" }, { "id": "f6", "name": "target_intake", "value": "={{ $json.output.target_intake }}", "type": "string" }, { "id": "f7", "name": "qualification", "value": "={{ $json.output.qualification }}", "type": "string" }, { "id": "f8", "name": "english_test_status", "value": "={{ $json.output.english_test_status }}", "type": "string" }, { "id": "f9", "name": "passport_status", "value": "={{ $json.output.passport_status }}", "type": "string" }, { "id": "f10", "name": "sponsor_status", "value": "={{ $json.output.sponsor_status }}", "type": "string" }, { "id": "f11", "name": "urgency", "value": "={{ $json.output.urgency }}", "type": "string" }, { "id": "f12", "name": "lead_score", "value": "={{ $json.output.lead_score }}", "type": "number" }, { "id": "f13", "name": "missing_fields", "value": "={{ JSON.stringify($json.output.missing_fields) }}", "type": "string" }, { "id": "f14", "name": "status", "value": "={{ ($json.output.missing_fields && $json.output.missing_fields.length > 0) ? 'info_needed' : 'qualified' }}", "type": "string" } ] } } },
    { "id": "fe03f74f-172b-4c20-a81f-77d1733d721a", "name": "Update Lead", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1380, 540], "parameters": { "resource": "database", "operation": "update", "schema": { "__rl": true, "mode": "list", "value": "public" }, "table": { "__rl": true, "mode": "list", "value": "leads" }, "columns": { "mappingMode": "autoMapInputData", "matchingColumns": ["id"], "schema": [] }, "options": {} } },
    { "id": "014fe033-da18-4ac1-9307-50cff9cd5a2d", "name": "Qualified?", "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [1820, 540], "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [{ "id": "q1", "leftValue": "={{ $json.lead_score }}", "operator": { "type": "number", "operation": "gte" }, "rightValue": 40 }], "combinator": "and" } } },
    { "id": "fabd7bf6-3734-4be8-b55d-91e33e13b52e", "name": "Call WF3 — RAG Recommendation", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.3, "position": [2040, 440], "parameters": { "source": "database", "workflowId": { "__rl": true, "mode": "id", "value": "VC0ybRpxomrOw6j6", "cachedResultName": "PathPilot — WF3 RAG Recommendation" }, "workflowInputs": { "mappingMode": "defineBelow", "value": { "lead_id": "={{ $('Update Lead').item.json.id }}" }, "matchingColumns": [], "schema": [{ "id": "lead_id", "displayName": "lead_id", "type": "string", "required": false, "display": true, "canBeUsedToMatch": true }] }, "mode": "once", "options": { "waitForSubWorkflow": true } } },
    { "id": "b467541b-f0bc-4608-9992-61e960e87c04", "name": "Audit: Extracted", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1600, 540], "parameters": { "resource": "database", "operation": "insert", "schema": { "__rl": true, "mode": "list", "value": "public" }, "table": { "__rl": true, "mode": "list", "value": "audit_logs" }, "columns": { "mappingMode": "defineBelow", "value": { "actor_type": "ai", "actor_id": "wf2-extract", "action": "lead.extracted", "lead_id": "={{ $('Get Lead').item.json.id }}", "workflow_id": "={{ $workflow.id }}" }, "matchingColumns": [], "schema": [] }, "options": {} } }
  ],
  "connections": {
    "When Called With lead_id": { "main": [[{ "node": "Get Lead", "type": "main", "index": 0 }]] },
    "Get Lead": { "main": [[{ "node": "Extract & Classify", "type": "main", "index": 0 }]] },
    "Extract & Classify": { "main": [[{ "node": "Is Spam?", "type": "main", "index": 0 }]] },
    "Claude Sonnet 4.6": { "ai_languageModel": [[{ "node": "Extract & Classify", "type": "ai_languageModel", "index": 0 }]] },
    "Lead JSON Schema": { "ai_outputParser": [[{ "node": "Extract & Classify", "type": "ai_outputParser", "index": 0 }]] },
    "Is Spam?": { "main": [[{ "node": "Mark Spam Closed", "type": "main", "index": 0 }], [{ "node": "Prepare Lead Fields", "type": "main", "index": 0 }]] },
    "Mark Spam Closed": { "main": [[{ "node": "Audit: Spam", "type": "main", "index": 0 }]] },
    "Prepare Lead Fields": { "main": [[{ "node": "Update Lead", "type": "main", "index": 0 }]] },
    "Update Lead": { "main": [[{ "node": "Qualified?", "type": "main", "index": 0 }]] },
    "Qualified?": { "main": [[{ "node": "Call WF3 — RAG Recommendation", "type": "main", "index": 0 }], [{ "node": "Audit: Extracted", "type": "main", "index": 0 }]] },
    "Call WF3 — RAG Recommendation": { "main": [[{ "node": "Audit: Extracted", "type": "main", "index": 0 }]] }
  }
}
