workflows/wf3-rag-recommendation.json
{
  "id": "VC0ybRpxomrOw6j6",
  "name": "PathPilot — WF3 RAG Recommendation",
  "active": true,
  "description": "Phase 3+4. Called with lead_id: retrieves lead, searches kb_chunks via pgvector similarity (topK=6, approved only), Code node aggregates chunks (c.document.pageContent format in n8n 2.22.4), Claude Sonnet drafts recommendation+checklist+risk flags, stores in recommendations table with pending_review status + audit.",
  "settings": { "executionOrder": "v1", "availableInMCP": true },
  "nodes": [
    { "id": "13b99ba5-ab32-44ec-b9fa-0dd5503d6d6b", "name": "When Called With lead_id", "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 1.1, "position": [240, 400], "parameters": { "inputSource": "workflowInputs", "workflowInputs": { "values": [{ "name": "lead_id", "type": "string" }] } } },
    { "id": "6b3fbb1c-ff8f-4f21-9053-273f7ef44d97", "name": "Get Lead", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [460, 400], "parameters": { "resource": "database", "operation": "executeQuery", "query": "SELECT * FROM leads WHERE id = $1 LIMIT 1", "options": { "queryReplacement": "={{ $json.lead_id }}" } } },
    { "id": "378ad236-3d3c-4834-9aac-bdc6d840160e", "name": "Search KB", "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector", "typeVersion": 1.3, "position": [700, 400], "parameters": { "mode": "load", "tableName": "kb_chunks", "prompt": "={{ ($json.desired_course ?? \"study abroad\") + \" \" + ($json.programme_level ?? \"\") + \" \" + (($json.preferred_countries ?? []).join(\" \")) + \" admission requirements checklist IELTS qualification\" }}", "topK": 6, "includeDocumentMetadata": true, "options": { "metadata": { "metadataValues": [{ "name": "approved_for_customer_use", "value": "true" }] } } } },
    { "id": "f292fdcf-1370-4a88-a0ad-58c2263c7241", "name": "OpenAI Embeddings", "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi", "typeVersion": 1.2, "position": [700, 640], "parameters": { "model": "text-embedding-3-small", "options": { "dimensions": 1536 } } },
    { "id": "a5b78867-ada3-417f-8b74-7b3c9205978d", "name": "Build Context Code", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [940, 400], "parameters": { "mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "const chunks = $input.all().map(item => item.json);\nconst lead = $('Get Lead').first().json;\n\n// n8n 2.22.4: pgvector load returns {document: {pageContent, metadata}, score}\nconst retrievedContext = chunks.map((c, i) => {\n  const doc = c.document || c;\n  const title = (doc.metadata && doc.metadata.title) ? doc.metadata.title : 'Document';\n  const content = doc.pageContent || doc.text || '';\n  return '[Source ' + (i + 1) + ': ' + title + ']\\n' + content;\n}).join('\\n\\n---\\n\\n');\n\nconst sourcesUsed = JSON.stringify(\n  chunks.map(c => {\n    const doc = c.document || c;\n    return (doc.metadata && doc.metadata.document_id) ? doc.metadata.document_id : 'unknown';\n  })\n);\n\nreturn [{\n  json: {\n    lead_id: lead.id || '',\n    lead_name: lead.name || '',\n    desired_course: lead.desired_course || 'unknown',\n    programme_level: lead.programme_level || 'unknown',\n    preferred_countries: lead.preferred_countries || [],\n    qualification: lead.qualification || 'unknown',\n    english_test_status: lead.english_test_status || 'unknown',\n    budget_range: lead.budget_range || 'unknown',\n    sponsor_status: lead.sponsor_status || 'unknown',\n    missing_fields_str: (lead.missing_fields || []).join(', '),\n    sources_used: sourcesUsed,\n    retrieved_context: retrievedContext\n  }\n}];" } },
    { "id": "ae1aa999-34da-4394-a55f-db67a2736685", "name": "Draft Recommendation", "type": "@n8n/n8n-nodes-langchain.chainLlm", "typeVersion": 1.9, "position": [1360, 400], "parameters": { "promptType": "define", "text": "=LEAD PROFILE:\nName: {{ $json.lead_name }}\nDesired course: {{ $json.desired_course }}\nProgramme level: {{ $json.programme_level }}\nPreferred countries: {{ $json.preferred_countries }}\nQualification: {{ $json.qualification }}\nEnglish test status: {{ $json.english_test_status }}\nBudget range: {{ $json.budget_range }}\nSponsor: {{ $json.sponsor_status }}\nMissing info: {{ $json.missing_fields_str }}\n\nRETRIEVED KNOWLEDGE BASE:\n{{ $json.retrieved_context }}\n\nBased ONLY on the knowledge base above, generate a practical draft recommendation for the counsellor to review.", "hasOutputParser": true, "messages": { "messageValues": [{ "type": "SystemMessagePromptTemplate", "message": "You are PathPilot's study-abroad and travel recommendation engine for a Nigerian agency.\nYou create DRAFT recommendations for a human counsellor to review before anything reaches the customer.\n\nCRITICAL RULES:\n1. Base ALL guidance ONLY on the RETRIEVED KNOWLEDGE BASE provided. Never invent fees, deadlines, requirements, scholarships, or university policies.\n2. Never guarantee admission, a visa, or a scholarship outcome.\n3. Always include in customer_draft: \"This guidance is informational only and subject to official requirements. Not a guarantee of admission, a visa, or a scholarship.\"\n4. Set required_review: true — a counsellor must approve before sending.\n5. Set safe_to_send: false — counsellor approval required.\n6. Lower confidence_score (0.4-0.6) when key fields are missing or the KB lacks sufficient detail.\n7. List sources_used using document_id values from the Source markers in the context.\n8. If the KB lacks information for a key question, say so clearly in the summary — do not guess.\n9. For Nursing: note that clinical placement requirements and professional registration must be verified with the counsellor.\n10. Output ONLY the structured JSON — no prose, no code fences." }] } } },
    { "id": "4fce52f6-0094-49d6-a14a-0854330cd683", "name": "Claude Sonnet 4.6", "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic", "typeVersion": 1.5, "position": [1360, 640], "parameters": { "model": { "__rl": true, "mode": "list", "value": "claude-sonnet-4-6", "cachedResultName": "Claude Sonnet 4.6" }, "options": { "temperature": 0 } } },
    { "id": "7fbdeb51-ac65-466a-b2b4-21fc490f364a", "name": "Recommendation Schema", "type": "@n8n/n8n-nodes-langchain.outputParserStructured", "typeVersion": 1.3, "position": [1560, 640], "parameters": { "schemaType": "fromJson", "jsonSchemaExample": "{\"summary\":\"Staff-facing summary\",\"customer_draft\":\"Draft email with disclaimer\",\"checklist\":[\"item\"],\"missing_info\":[\"field\"],\"risk_flags\":[\"flag\"],\"sources_used\":[\"kb-uk-study-001\"],\"confidence_score\":0.78,\"safe_to_send\":false,\"required_review\":true}" } },
    { "id": "f808e12b-030f-4359-a25d-8cf1447b4d99", "name": "Save Recommendation", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1580, 400], "parameters": { "resource": "database", "operation": "insert", "schema": { "__rl": true, "mode": "list", "value": "public" }, "table": { "__rl": true, "mode": "list", "value": "recommendations" }, "columns": { "mappingMode": "defineBelow", "value": { "lead_id": "={{ $('Build Context Code').item.json.lead_id }}", "summary": "={{ $json.output.summary }}", "customer_draft": "={{ $json.output.customer_draft }}", "checklist": "={{ JSON.stringify($json.output.checklist ?? []) }}", "missing_info": "={{ JSON.stringify($json.output.missing_info ?? []) }}", "risk_flags": "={{ JSON.stringify($json.output.risk_flags ?? []) }}", "retrieved_document_ids": "={{ $('Build Context Code').item.json.sources_used }}", "confidence_score": "={{ $json.output.confidence_score }}", "safe_to_send": false, "required_review": true, "approval_status": "pending_review" }, "matchingColumns": [], "schema": [] }, "options": {} } },
    { "id": "b879c5e0-8997-45fe-bcd2-ae2fb0c98228", "name": "Audit: Recommendation", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1800, 400], "parameters": { "resource": "database", "operation": "insert", "schema": { "__rl": true, "mode": "list", "value": "public" }, "table": { "__rl": true, "mode": "list", "value": "audit_logs" }, "columns": { "mappingMode": "defineBelow", "value": { "actor_type": "ai", "actor_id": "wf3-recommend", "action": "recommendation.generated", "lead_id": "={{ $('Build Context Code').item.json.lead_id }}", "workflow_id": "={{ $workflow.id }}" }, "matchingColumns": [], "schema": [] }, "options": {} } }
  ],
  "connections": {
    "When Called With lead_id": { "main": [[{ "node": "Get Lead", "type": "main", "index": 0 }]] },
    "Get Lead": { "main": [[{ "node": "Search KB", "type": "main", "index": 0 }]] },
    "OpenAI Embeddings": { "ai_embedding": [[{ "node": "Search KB", "type": "ai_embedding", "index": 0 }]] },
    "Search KB": { "main": [[{ "node": "Build Context Code", "type": "main", "index": 0 }]] },
    "Build Context Code": { "main": [[{ "node": "Draft Recommendation", "type": "main", "index": 0 }]] },
    "Claude Sonnet 4.6": { "ai_languageModel": [[{ "node": "Draft Recommendation", "type": "ai_languageModel", "index": 0 }]] },
    "Recommendation Schema": { "ai_outputParser": [[{ "node": "Draft Recommendation", "type": "ai_outputParser", "index": 0 }]] },
    "Draft Recommendation": { "main": [[{ "node": "Save Recommendation", "type": "main", "index": 0 }]] },
    "Save Recommendation": { "main": [[{ "node": "Audit: Recommendation", "type": "main", "index": 0 }]] }
  }
}
