workflows/wf4-human-approval.json
{
  "id": "fyPNZQu6cmW9uFlY",
  "name": "PathPilot — WF4 Human Approval",
  "active": true,
  "description": "Phase 5. Called with recommendation_id: fetches recommendation+lead, emails counsellor via Gmail sendAndWait (Approve & Send / Decline buttons, 48h timeout). On approval: sends customer email, marks approved, updates lead to consultation_offered, creates 2-day follow-up, audits. On decline: marks rejected + audits.",
  "settings": { "executionOrder": "v1", "availableInMCP": true },
  "nodes": [
    { "id": "79968a11-9ddd-4ef1-9ec3-5f6f78b519e6", "name": "When Called With recommendation_id", "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 1.1, "position": [240, 400], "parameters": { "inputSource": "workflowInputs", "workflowInputs": { "values": [{ "name": "recommendation_id", "type": "string" }] } } },
    { "id": "e4bea791-8d2d-470d-819a-b7667ce577a9", "name": "Get Recommendation", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [460, 400], "parameters": { "resource": "database", "operation": "executeQuery", "query": "SELECT r.*, l.name AS lead_name, l.email AS lead_email, l.desired_course, l.preferred_countries, l.budget_range, l.lead_score FROM recommendations r JOIN leads l ON r.lead_id = l.id WHERE r.id = $1 LIMIT 1", "options": { "queryReplacement": "={{ $json.recommendation_id }}" } } },
    { "id": "f16de9fd-95d3-44ef-9030-f4392a5728f6", "name": "Send for Approval", "type": "n8n-nodes-base.gmail", "typeVersion": 2.2, "position": [700, 400], "webhookId": "f4e7cf1a-0c36-4f8a-896d-6d82ad302ca8", "parameters": { "resource": "message", "operation": "sendAndWait", "sendTo": "aikomofisayo@gmail.com", "subject": "={{ \"PathPilot — Review required: \" + $json.lead_name + \" (\" + ($json.desired_course ?? \"Enquiry\") + \")\" }}", "message": "=<h2>Recommendation Review</h2><p><strong>Lead:</strong> {{ $json.lead_name }}</p><p><strong>Course:</strong> {{ $json.desired_course }}</p><p><strong>Countries:</strong> {{ $json.preferred_countries }}</p><p><strong>Budget:</strong> {{ $json.budget_range }}</p><p><strong>Confidence score:</strong> {{ $json.confidence_score }}</p><hr><h3>Staff Summary</h3><p>{{ $json.summary }}</p><hr><h3>Draft Customer Message</h3><pre style=\"white-space:pre-wrap;font-family:sans-serif\">{{ $json.customer_draft }}</pre><hr><p><em>This is an AI-generated draft. Review it carefully before approving. It is not a guarantee of admission, a visa, or a scholarship.</em></p>", "responseType": "approval", "approvalOptions": { "values": { "approvalType": "double", "approveLabel": "Approve & Send", "buttonApprovalStyle": "primary", "disapproveLabel": "Decline", "buttonDisapprovalStyle": "secondary" } }, "options": { "appendAttribution": false, "limitWaitTime": { "values": { "limitType": "afterTimeInterval", "resumeAmount": 48, "resumeUnit": "hours" } }, "responseFormTitle": "PathPilot — Approval Response", "responseFormDescription": "Your decision has been recorded." } } },
    { "id": "a842b031-c749-4cbe-acd5-7d03ea66b1ae", "name": "Approved?", "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [672, 96], "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [{ "id": "a1", "leftValue": "={{ $json.data.approved }}", "operator": { "type": "boolean", "operation": "equals" }, "rightValue": true }], "combinator": "and" } } },
    { "id": "4319bd3c-817a-4538-8a8b-4c3fc73c842d", "name": "Send Customer Email", "type": "n8n-nodes-base.gmail", "typeVersion": 2.2, "position": [1160, 260], "webhookId": "633b8923-6340-4e14-89c3-ecfa1f81d3ce", "parameters": { "resource": "message", "operation": "send", "sendTo": "={{ $('Get Recommendation').item.json.lead_email }}", "subject": "={{ 'Your Study Abroad / Travel Enquiry — Next Steps (' + $('Get Recommendation').item.json.desired_course + ')' }}", "emailType": "html", "message": "={{ $('Get Recommendation').item.json.customer_draft.replace(/\\n/g, '<br>') }}", "options": { "appendAttribution": false, "senderName": "PathPilot Team" } } },
    { "id": "e8e538a1-1a8a-4a7c-b0ac-1be5f138a1e8", "name": "Mark Approved", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1380, 260], "parameters": { "resource": "database", "operation": "executeQuery", "query": "UPDATE recommendations SET approval_status = 'approved', approved_at = NOW(), final_message_sent = true WHERE id = $1", "options": { "queryReplacement": "={{ $('Get Recommendation').item.json.id }}" } } },
    { "id": "dac94048-f932-4aa2-9f18-6db5bfb814c4", "name": "Update Lead Status", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1600, 260], "parameters": { "resource": "database", "operation": "executeQuery", "query": "UPDATE leads SET status = 'consultation_offered', last_contacted_at = NOW() WHERE id = $1", "options": { "queryReplacement": "={{ $('Get Recommendation').item.json.lead_id }}" } } },
    { "id": "d91d6e65-0353-4e80-83c0-3e00f1fd503d", "name": "Create Follow-up", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1820, 260], "parameters": { "resource": "database", "operation": "insert", "schema": { "__rl": true, "mode": "list", "value": "public" }, "table": { "__rl": true, "mode": "list", "value": "follow_ups" }, "columns": { "mappingMode": "defineBelow", "value": { "lead_id": "={{ $('Get Recommendation').item.json.lead_id }}", "due_at": "={{ $now.plus(2, 'days').toISO() }}", "reason": "Consultation offered — follow up in 2 days", "status": "pending" }, "matchingColumns": [], "schema": [] }, "options": {} } },
    { "id": "e017b29f-547b-45ad-a6e8-a06ca424dc39", "name": "Audit: Approved & Sent", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [2040, 260], "parameters": { "resource": "database", "operation": "insert", "schema": { "__rl": true, "mode": "list", "value": "public" }, "table": { "__rl": true, "mode": "list", "value": "audit_logs" }, "columns": { "mappingMode": "defineBelow", "value": { "actor_type": "staff", "actor_id": "wf4-approval", "action": "recommendation.approved_and_sent", "lead_id": "={{ $('Get Recommendation').item.json.lead_id }}", "workflow_id": "={{ $workflow.id }}" }, "matchingColumns": [], "schema": [] }, "options": {} } },
    { "id": "10912f19-0f8c-4802-8a7c-852abf28226e", "name": "Mark Rejected", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1160, 560], "parameters": { "resource": "database", "operation": "executeQuery", "query": "UPDATE recommendations SET approval_status = 'rejected' WHERE id = $1", "options": { "queryReplacement": "={{ $('Get Recommendation').item.json.id }}" } } },
    { "id": "0e0153b4-60bb-4f72-a982-22bb045e3467", "name": "Audit: Declined", "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1380, 560], "parameters": { "resource": "database", "operation": "insert", "schema": { "__rl": true, "mode": "list", "value": "public" }, "table": { "__rl": true, "mode": "list", "value": "audit_logs" }, "columns": { "mappingMode": "defineBelow", "value": { "actor_type": "staff", "actor_id": "wf4-approval", "action": "recommendation.declined", "lead_id": "={{ $('Get Recommendation').item.json.lead_id }}", "workflow_id": "={{ $workflow.id }}" }, "matchingColumns": [], "schema": [] }, "options": {} } }
  ],
  "connections": {
    "When Called With recommendation_id": { "main": [[{ "node": "Get Recommendation", "type": "main", "index": 0 }]] },
    "Get Recommendation": { "main": [[{ "node": "Send for Approval", "type": "main", "index": 0 }]] },
    "Send for Approval": { "main": [[{ "node": "Approved?", "type": "main", "index": 0 }]] },
    "Approved?": { "main": [[{ "node": "Send Customer Email", "type": "main", "index": 0 }], [{ "node": "Mark Rejected", "type": "main", "index": 0 }]] },
    "Send Customer Email": { "main": [[{ "node": "Mark Approved", "type": "main", "index": 0 }]] },
    "Mark Approved": { "main": [[{ "node": "Update Lead Status", "type": "main", "index": 0 }]] },
    "Update Lead Status": { "main": [[{ "node": "Create Follow-up", "type": "main", "index": 0 }]] },
    "Create Follow-up": { "main": [[{ "node": "Audit: Approved & Sent", "type": "main", "index": 0 }]] },
    "Mark Rejected": { "main": [[{ "node": "Audit: Declined", "type": "main", "index": 0 }]] }
  }
}
